# Connect to Supabase via connection pooling
DATABASE_URL="SUPABASE_CONNECTION_STRING"

# Direct connection to the database. Used for migrations
DIRECT_URL="SUPABASE_CONNECTION_STRING"

ADMIN_USERNAME="root"
ADMIN_PASSWORD="password"

SERVER_JWT_SECRET="YOUR_SECRET"
SERVER_JWT_EXPIRES=1d

SALT_ROUNDS=6